.shorturlbox{
    display:flex;
    width: 100%;
    justify-content: center;
}
.input{
    width: 25%;
    min-width: 250px;
    height: 75px;
    border-radius: 20px 0 0 20px ;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    border:1px solid #001f3f;
    border-right: 0px;
    font-size: 25px;
}

.btn{
    background: #0074D9;
    border:1px solid #001f3f;
    border-left: 0px;
    cursor: pointer;
    width: 7%;
    min-width:100px;
    outline: none !important;
    box-shadow: none;
    border-radius: 0 20px 20px 0;
    color:white;
    font-size:20px;
    font-weight: bold;
}
.toast{
    border-radius: 2px;
    right: 200px;
    width: 60px;
    margin-top: 150px;
    position: absolute;
    max-width: 100%;
    height: 50px;
    min-height: 48px;
    line-height: 1.5em;
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: default;
    color: white;
    font-weight: 500;
    border-radius: 24px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .copied{
      background: grey;
  }