.container-box{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height:500px;
  justify-content: space-between;
}
.container-box h1{
  color:rgba(0, 0, 0, 0.568);
  padding-right:10px;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}